{% extends 'fashion/base.html' %} {% load static %} {% block content %}

<div class="site-section" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <span class="product-item md-height bg-gray d-block">
          <img src="{% static "fashion/images/model_2.png" %}" alt="Image" class="img-fluid">
        </span>
      </div>
      <div class="col-md-6 mb-5 mb-md-0">
        <h2 class="h3 mb-3 text-black">Login</h2>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <strong style=" font-weight: bold;">Username:</strong> guest<br />
          <strong style=" font-weight: bold;">Password:</strong> password
        </div>
        <div class="p-3 p-lg-5 border">
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">


              <div class="form-group row">
                {{ form.username.errors }}
                <div class="col-md-12">
                  <label for="{{ form.username.id_for_label }}" class="text-black">Username
                  </label>
                  <input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
                    type="text" />
                </div>
              </div>
              <div class="form-group row">
                {{ form.password.errors }}
                <div class="col-md-12">
                  <label for="{{ form.password.id_for_label }}" class="text-black">Password
                  </label>
                  <input class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"
                    type="password" />
                </div>
              </div>

              <button class="btn btn-primary btn-sm px-4" type="submit">
                Login
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}